<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="@Url.Content("~/assets/css/1140.css")" type="text/css" media="screen" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="@Url.Content("~/assets/css/ie.css")" type="text/css" media="screen" />
	<![endif]--> 
	<link rel="stylesheet" href="@Url.Content("~/assets/css/typeimg.css")" type="text/css" media="screen" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/smallerscreen.css")" media="only screen and (max-width: 1023px)" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/mobile.css")" media="handheld, only screen and (max-width: 767px)" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/layout.css")" type="text/css" media="screen" />

	<link rel="stylesheet" href="@Url.Content("~/assets/css/forms.css")" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="@Url.Content("~/assets/css/site.css")" type="text/css" media="screen" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="@Url.Content("~/assets/js/codemirror/codemirror.js")"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19153112-3']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>
	@RenderBody()
</body>
</html>
